@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500&family=Bree+Serif&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alkatra', cursive;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
    height: 100vh;
    width: 100%;
}

.calculator
{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}

input
{
    text-align: end;
    border: none;
    width: 320px;
    padding: 24px;
    margin: 14px;
    background: transparent;
    box-shadow: inset 0px 3px 15px rgba(255, 255, 255, 0.1);
    font-size: 40px;
    cursor: pointer;
    color: aliceblue;
    border-radius: 10px;
}

input::placeholder
{
    color: aliceblue;
}

button
{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: aliceblue;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.equalbtn
{
    color: orange;
}

.operator
{
    color: greenyellow;
}

button:hover{
    color: aqua;
}